.indvcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indvwrap {
    display: flex;
    flex-direction: column;
}

.suggest {
    padding: 40px;
}
