/* .logoutnBtn {
    height: 20px;
    width: 70px;
    color: whitesmoke;
    background-color: #232222;
    border: none;
    cursor: pointer;
} */

.logtextBtn:hover {
    color: rgb(245, 41, 54);
}

.dropdown {
    /* position: relative;
    display: inline-block; */
    display: flex;
    width: 100%;
}

.dropdwn {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; */
}


/* .profile-dropdown {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0px 4px linear-gradient(0.25turn, #e66465, #9198e5);
    padding-right: 20px;
    border-radius: 25px;
    height: 80px;
    font-size: small;
    padding-top: 10px;
} */

.textdiv {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #232222;
}

.textdiv div {
    color: whitesmoke;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .textdiv {
    display: block;
}


.logoutBtn {
    color: rgb(5, 1, 1);
    background: rgb(255, 111, 135);
    border: none;
    width: 70px;
    cursor: pointer;
}

.userNav {
    background-color: #232222;
    border: none;
}
