.indqcont {
    background-color: #232222;
    margin: auto;
    width: 65%;
    aspect-ratio: 6/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    border-radius: 5px;
}

.indqwrapper {
    width: 70%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.splashtitle {
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 5px;
}

.splashpara {
    color: whitesmoke;
    padding-top: 5px;
    font-size: 16px;
    line-height: 25px;
    max-height: 200px;
    overflow: scroll;
    padding: 8px;
    border: 1px solid #232222;
}

.splashpara:hover {
    border: 1px solid whitesmoke;
}

.splashname {
    color: gray;
}

.comfavi {
    color: whitesmoke;
    margin-right: 65%;
    padding: 10px;
    cursor: pointer;
}

.splashtitle:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.comfavi:hover {
    background-color: #393838;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.moretag {
    color: #4664b7;
    text-decoration: none;
    margin-left: 5px;
}

.moretag:hover {
    text-decoration: underline;
}

.norescont {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 15%;
}

.norestxt {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 20px;
}

.faileds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    /* border: 2px solid whitesmoke; */
    background-color: #232323;
    border-radius: 5px;
    /* border-radius: 5%; */
    /* margin-bottom: 20px; */
}
