.qumodalcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin: 50px; */
    padding-left: 250px;
    padding-right: 250px;
    background-color: #171616;
    padding: 15px;
    margin: 0;
}

.qmodalwrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    /* padding: 20px; */
}

.tipswrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 2px;
    margin-bottom: 15px;
}

.tipslist {
    display: flex;
    flex-direction: column;
}

.error-map {
    padding-bottom: 10px;
    color: rgb(245, 0, 0);
}

.formcontainer {}

.q1input {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    border: none;
    border-bottom: .5px solid rgb(174, 170, 170);
    padding: 5px 10px;
    outline: none;
    color: whitesmoke;
    background-color: #171616;
    font-size: 14px;
}

.q2input {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid rgb(174, 170, 170);
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    resize: both;
    background-color: #171616;
    color: whitesmoke;
}

.qdiv {
    margin-bottom: 15px;
    margin-top: 15px;
}

.tipswrap {
    color: #3b6fff;
    /* background-color: #5c7cd2; */
    padding: 10px;
    border: solid #3b6fff;
}

.qmbtn {
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 15px;
    background-color: #3b6fff;
}

.qmbtn:hover {
    background-color: #4664b7;
    cursor: pointer;
}

.cancelmodal {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}

.canceltxt {
    margin-left: 15px;
    font-size: 18px;
    color: rgb(174, 170, 170);
    cursor: pointer;
    padding: 10px;
}

.canceltxt:hover {
    background-color: #272626;
    padding: 10px;
    border-radius: 20px;
}
