.oneholder {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.onecontainer {
    display: flex;
    flex-direction: row;
    width: 68%;
    /* border: 2px solid;
    border-color: grey; */
    margin-left: 5%;
    color: whitesmoke;
    font-size: 16px;
    margin-top: 2%;
    justify-content: space-between;
}

.onewrapper {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.onecont {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #232222;
    border-radius: 5px;
}


.qadiv {
    display: flex;
    flex-direction: column;
}

.comboxcont {
    padding: 25px;
}

.comboxwrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comfield {
    width: 500px;
    height: 25px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 1px;
    margin-left: 2%;
    border-color: grey;
    background-color: #232222;
    font-size: 16px;
    color: whitesmoke;
    outline: none;
    /* cursor: pointer; */
}

.adcombtn {
    border: none;
    height: 30px;
    width: 120px;
    background-color: #4664b7;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 15px;
}

.adcombtn:hover {
    background-color: #2754cf;
    cursor: pointer;
}

.onetitle {
    line-height: 40px;
}

.onepara {
    line-height: 25px;
}

.rqcontainer {
    display: flex;
    flex-direction: column;
    position: fixed;
}


.rqwrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: grey;
    width: 70%;
    margin-left: 10%;
    min-height: 400px;
    justify-content: space-between;
    padding: 5%;
}

.rqtitle {
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid;
    border-color: #302f2f;
}

.navrq {
    text-decoration: none;
    color: #4664b7;
    font-size: 18px;
}

.navrq:hover {
    color: #2754cf;
}
