.onecontainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: 2px solid;
    border-color: grey; */
    margin-left: 5%;
    color: whitesmoke;
    line-height: 25px;
    font-size: 16px;
    margin-top: 2%;
}

.onecont {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #232222;
    border-radius: 5px;
}

.onewrapper {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.qadiv {
    display: flex;
    flex-direction: column;
}

.comboxcont {
    padding: 25px;
}

.comboxwrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comfield {
    width: 500px;
    height: 25px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 1px;
    margin-left: 2%;
    border-color: grey;
    background-color: #232222;
    font-size: 16px;
    color: whitesmoke;
    /* cursor: pointer; */
}

.adcombtn {
    border: none;
    height: 30px;
    width: 120px;
    background-color: #4664b7;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 15px;
}

.adcombtn:hover {
    background-color: #2754cf;
    cursor: pointer;
}
